.navbar {
    background-color: #CC1414;
    color: rgb(201, 97, 23);
}

.images{
    height: 150px;
    width: 230px;
}

.icono{
    height: 50px;
    width: 50px;
}

body{
    background-color: #feb56c;
}

.comida{
    background-color: rgb(252, 135, 1);
}

.footer{
    background-color: rgb(252, 135, 1);
    text-align: center;
}

.logo{
    height: 350px;
    width: 350px;
}